<header class="container-fluid p-4 p-md-5 hero">
    <!-- Logo -->
    <a routerLink="/"><img src="assets/images/logo.png" alt="Logo" i18n-alt></a>

    <!-- Title -->
    <h1 class="display-6" i18n>Dutch abbreviations</h1>
    <hr>

    <div class="row">
        <!-- Language switcher -->
        <div class="col-12 col-md">
            <ul class="nav nav-pills">
                @for (lang of languages; track lang) {
                    <li class="nav-item">
                        <a [href]="getLangUrl(lang.code)" [class.active]="lang.code === locale" class="nav-link">
                            <span class="d-md-none">{{ lang.code | uppercase }}</span>
                            <span class="d-none d-md-inline">{{ lang.name }}</span>
                        </a>
                    </li>
                }
            </ul>
        </div>

        <!-- What does afk. mean?-->
        <div class="col-auto d-none d-md-flex align-items-center text-nowrap">
            <!-- Info icon -->
            <fa-icon [icon]="faInfoCircle" class="me-1"></fa-icon>
            <!-- Link -->
            <span i18n>What does <a class="abbr-term mx-1" routerLink="/abbr/afk.">afk.</a> mean?</span>
        </div>
    </div>
</header>
