<!-- Heading -->
<h1 class="mb-0">{{ abbr() }}</h1>
<p class="lead mb-3" i18n>abbreviation</p>

<!-- Abbreviation details -->
@let abbrs = abbreviations();
@if (abbrs?.length; as len) {
    <div>
        @for (a of abbrs; track a.abbr; let i = $index) {
            <div class="border-bottom mb-3 d-flex align-content-center">
                <!-- Occurrence number, only if there's more than one -->
                @if (len > 1) {
                    <div class="display-6 me-3 text-dimmed">{{ i+1 }}</div>
                }
                <!-- Details -->
                <dl>
                    <div>
                        <dt><ng-container i18n>Stands for</ng-container></dt>
                        <dd>{{ a.text }}</dd>
                    </div>
                    @if (a.translation[locale]; as t) {
                        <div>
                            <dt i18n>Translation</dt>
                            <dd><span [innerHTML]="t"></span></dd>
                        </div>
                    }
                </dl>
            </div>
        }
    </div>

} @else {
    <!-- Abbreviation unknown -->
    <p class="lead fw-bold">¯\_(ツ)_/¯</p>
    <p i18n>Sorry, this abbreviation is unknown to us.</p>
}

<!-- Buttons -->
<div class="mt-4 d-grid d-sm-block gap-2">
    <button routerLink="/search" [queryParams]="searchParams" type="button" class="btn btn-outline-primary me-sm-2">
        <fa-icon [icon]="faChevronLeft" class="me-1"></fa-icon>
        <ng-container i18n>Back to search</ng-container>
    </button>
    @if (abbrs?.length) {
        <button (click)="copyLink()" type="button" class="btn btn-outline-primary position-relative">
            <fa-icon [icon]="faCopy" class="me-1"></fa-icon>
            <ng-container i18n>Copy link</ng-container>

            @if (textCopied()) {
                <div class="position-absolute p-1 bg-success-subtle text-success border rounded small shadow"
                     style="bottom: 110%; left: 0; right: 0;"
                     animate.enter="slide-in"
                     animate.leave="slide-out">
                    <ng-container i18n>Link is copied!</ng-container>
                </div>
            }
        </button>
    }

    <!-- Sharing buttons -->
    <span class="ms-sm-3" i18n>Share:</span>
    <span>
        @for (sh of sharers; track sh.name) {
            <a [href]="getShareUrl(sh)" [target]="sh.newTab ? '_blank' : null"
               [title]="sh.name" class="btn btn-link" rel="noopener noreferrer nofollow">
                <fa-icon [icon]="sh.icon" size="2x"></fa-icon>
            </a>
        }
    </span>
</div>

<!-- Comments -->
@if (pageId(); as id) {
    <section class="mt-4">
        <h2 i18n>Comments</h2>
        <p class="small" i18n>What do you think about the abbreviation "{{ abbr() }}"? Let everyone know!</p>
        <ngx-comentario-comments scriptUrl="https://comentario.app/comentario.js"
                                 [pageId]="id"/>
    </section>
}
