// Base colours
$primary: #0776ff;
$secondary: #ff6707;

// Secondary elements
$body-color: #666;
$body-bg: #fff;

// Enable advanced theming
$enable-shadows: true;
$enable-gradients: true;

// Import Bootstrap
@import "../bootstrap-4.3.1/scss/bootstrap";

body {
    padding: 1rem 0;
}

a.abbr-term {
    display: inline-block;
    padding: 0 0.2rem;
    margin: 0.1rem;
    border: lighten($primary, 30%) 1px solid;
    border-radius: 2px;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    @include hover-focus-active {
        text-decoration: none;
        background-color: lighten($primary, 40%);
    }
}

.jumbotron {
    h1 {
        margin-top: 0.5rem;
        line-height: 85%;
        @include media-breakpoint-down(md) {
            font-size: 2rem;
        }
        @include media-breakpoint-down(sm) {
            font-size: 1.75rem;
        }
        @include media-breakpoint-down(xs) {
            font-size: 1.5rem;
        }
    }
}

#results {
    margin-bottom: 4rem;
}

footer {
    background-color: #eee;
    color: #6c757d;
    padding: 0.3rem;
}

.icon-info {
    &::before {
        display: inline-flex;
        content: 'i';
        width: 1rem;
        height: 1rem;
        background-color: $body-color;
        font-size: 80%;
        border-radius: 0.5rem;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    padding-right: 0.3rem;
}
