<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    {{- partial "head-meta.html" . }}

    <!-- Link to self -->
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Favicon   -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ `favicon.ico` | absURL }}"/>

    <!-- Page title -->
    <title>{{ block "title" . }}{{ with .Title }}{{ . | markdownify | plainify | safeHTML }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    <!-- Stylesheets -->
    {{ partial "stylesheets.html" . }}

    <!-- Google Analytics (do not add the code when running locally) -->
    {{- if not (in (print $.Site.BaseURL) "localhost") }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ .Site.GoogleAnalytics }}');
    </script>
    {{- end }}
</head>
<body>

<!-- Main page content -->
<section id="page">
    <div class="container">
        <!-- Heading -->
        {{- block "heading" . }}<h1>{{ .Title | markdownify }}</h1>{{ end }}

        <!-- Main content -->
        {{ block "main" . }}
        {{ .Content }}
        {{ end }}
    </div>

    <!-- Footer -->
    {{ block "footer" . }}{{ end }}
</section>

{{ partial "scripts" . }}
</body>
</html>
