// Base colours
$primary: #0776ff;
$secondary: #ff6707;

// Secondary elements
$body-color: #666;
$body-bg: #fff;

// Enable advanced theming
$enable-shadows: true;
$enable-gradients: true;

// Import Bootstrap
@import "vendor/bootstrap-5.2.0/scss/functions";
@import "vendor/bootstrap-5.2.0/scss/variables";
@import "vendor/bootstrap-5.2.0/scss/maps";
@import "vendor/bootstrap-5.2.0/scss/mixins";
@import "vendor/bootstrap-5.2.0/scss/utilities";
@import "vendor/bootstrap-5.2.0/scss/root";
@import "vendor/bootstrap-5.2.0/scss/reboot";
@import "vendor/bootstrap-5.2.0/scss/type";
//@import "vendor/bootstrap-5.2.0/scss/images";
@import "vendor/bootstrap-5.2.0/scss/containers";
@import "vendor/bootstrap-5.2.0/scss/grid";
@import "vendor/bootstrap-5.2.0/scss/tables";
@import "vendor/bootstrap-5.2.0/scss/forms";
@import "vendor/bootstrap-5.2.0/scss/buttons";
//@import "vendor/bootstrap-5.2.0/scss/transitions";
//@import "vendor/bootstrap-5.2.0/scss/dropdown";
//@import "vendor/bootstrap-5.2.0/scss/button-group";
@import "vendor/bootstrap-5.2.0/scss/nav";
//@import "vendor/bootstrap-5.2.0/scss/navbar";
//@import "vendor/bootstrap-5.2.0/scss/card";
//@import "vendor/bootstrap-5.2.0/scss/accordion";
//@import "vendor/bootstrap-5.2.0/scss/breadcrumb";
//@import "vendor/bootstrap-5.2.0/scss/pagination";
//@import "vendor/bootstrap-5.2.0/scss/badge";
//@import "vendor/bootstrap-5.2.0/scss/alert";
//@import "vendor/bootstrap-5.2.0/scss/progress";
//@import "vendor/bootstrap-5.2.0/scss/list-group";
//@import "vendor/bootstrap-5.2.0/scss/close";
//@import "vendor/bootstrap-5.2.0/scss/toasts";
//@import "vendor/bootstrap-5.2.0/scss/modal";
//@import "vendor/bootstrap-5.2.0/scss/tooltip";
//@import "vendor/bootstrap-5.2.0/scss/popover";
//@import "vendor/bootstrap-5.2.0/scss/carousel";
//@import "vendor/bootstrap-5.2.0/scss/spinners";
//@import "vendor/bootstrap-5.2.0/scss/offcanvas";
//@import "vendor/bootstrap-5.2.0/scss/placeholders";
@import "vendor/bootstrap-5.2.0/scss/helpers";
@import "vendor/bootstrap-5.2.0/scss/utilities/api";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: transparentize($primary, 0.8);
    background-size: 66px 66px, 45px 45px, 37px 37px, 53px 53px;
    background-image:
        linear-gradient(0, rgba(255, 255, 255, .07) 50%, transparent 50%),
        linear-gradient(0, rgba(255, 255, 255, .13) 50%, transparent 50%),
        linear-gradient(0, transparent 50%, rgba(255, 255, 255, .17) 50%),
        linear-gradient(0, transparent 50%, rgba(255, 255, 255, .19) 50%);
}

a.abbr-term {
    display: inline-block;
    padding: 0 0.33rem;
    background-color: transparentize($primary, 0.9);
    border-radius: 2px;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    &:hover, &:focus, &:active {
        text-decoration: none;
        background-color: transparentize($primary, 0.333);
    }
}

#results, #results-none {
    margin-top: 1rem;
    margin-bottom: 1rem;
    animation: fadeIn 0.5s;

    &.hide {
        display: none;
        opacity: 0;
    }
}

footer {
    background-color: $gray-200;
    color: #6c757d;
    margin-top: auto;
    padding: 0.3rem;
    text-align: center;

    @include media-breakpoint-up(md) {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
