{{ define "title" }}{{ .Site.Title }} • {{ i18n "siteTitle" }}{{ end }}
{{ define "heading" }}
<div class="jumbotron">
    <img src="/images/logo.png" alt="Logo">
    <h1>{{ i18n "siteTitle" }}</h1>
    <div class="d-flex justify-content-between">
        <ul class="nav">
        {{ range .AllTranslations }}
            <li class="nav-item">
                {{- if eq $.Page.Lang .Language.Lang }}
                    <span class="nav-link">{{- .Language.LanguageName }}</span>
                {{- else }}
                    <a class="nav-link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                {{- end }}
            </li>
            {{ end }}
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <span class="nav-link"><span class="icon-info"></span>{{ i18n "whatMeans" (dict "link" `<a class="abbr-term" href="#afk.">afk.</a>`) | safeHTML }}</span>
            </li>
        </ul>
    </div>
</div>
{{ end }}

{{ define "main" }}
<!-- The search form -->
<form id="search-form">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" id="search-text" aria-describedby="search-help" placeholder="{{ i18n `typeAbbreviation` }}" autofocus>
            <div class="input-group-append">
                <label class="input-group-text" for="abbr-only"><input type="checkbox" id="abbr-only">&nbsp;{{ i18n "abbrOnly" }}</label>
            </div>
        </div>
        <div id="search-help" class="form-text text-muted text-small">{{ i18n "searchHelp" }}</div>
    </div>
</form>

<!-- No results banner -->
<div class="text-muted" id="results-none" style="display: none">{{ i18n "resultsNone" }}</div>

<!-- Search results -->
<div id="results" style="display: none">
    <div class="text-muted">{{ i18n "resultsPresent" }}&nbsp;<span id="result-count"></span></div>
    <table class="table" id="abbr-table">
        {{ range .Site.Data.abbreviations }}
        <tr>
            <td>{{ .abbr }}</td>
            <td>{{ .text }}</td>
            <td>{{ index .translation $.Page.Lang | markdownify }}
                {{- with .seeAlso }}<p class="small">({{ T "seeAlso" }} {{ range . }}<a class="abbr-term" href="#{{ . }}&amp;abbr">{{ . }}</a>{{ end }})</p>{{ end }}</td>
        </tr>
        {{ end }}
    </table>
</div>
{{ end }}

{{ define "footer" }}
<footer class="fixed-bottom text-center">{{ T "copyright" (dict "year" now.Year) | markdownify }}</footer>
{{ end }}
